@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'elegant-typewriter';
  src: url('/fonts/ELEGANT-TYPEWRITER-Regular.ttf');
  font-display: swap;
}

.name-headline {
  font-family: 'elegant-typewriter';
} 

/*.column-body p {
  margin: 10px 0;
}*/

.ql-container p {
  /* make default text size for text editor a bit larger */
  font-size: 15px;
}

.ql-snow .ql-editor img {
  /* maybe use this to resize images? */
}
